<div class="container">



  <div class="regentry" >
    <div class="card card-default">
      <div class="card-header">
          <h4 class="float-left">Posts</h4>

          <button type="submit" class="btn btn-primary float-right" (click)="onNew()">Create New</button>

      </div>
      <div class="card-body" *ngIf="showNew">
        <div class="container">
          <form (ngSubmit)="onSave()">
            <div class="form-group">
              <label for="name-input" class="">Title</label>
              <input class="form-control" type="text" [(ngModel)]="postModel.title" name="title">
            </div>
            <div class="form-group">
              <label for="body-input" class="">Body</label>
              <input class="form-control" type="text" [(ngModel)]="postModel.body" name="body">
            </div>

            <button type="submit" class="btn btn-success">{{submitType}}</button> &nbsp;
            <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="reglist">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts; let i = index">
        <th width="5%" scope="row">{{ i + 1 }}</th>
        <td width="35%">{{ post.title}}</td>
        <td width="45%">{{ post.body }}</td>
        <td width="15%">
          <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button> &nbsp;
          <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


